<section id="logoHeader" class="logoSection">
	<span class="ui center aligned header">
		<div class="logo">
			<p>Dress<span class="logo_letter">N</span>ote</p>
		</div>
	</span>
</section>

<section id="about" class="middleSection">
	<div class="ui two column centered grid">
  		<div class="column">
  			<h2 class="ui center aligned header">The best adressbook application you’ve  ever find!</h2>
			<p>Yuccie trust fund neutra, knausgaard banh mi PBR&B seitan. Meditation fixie wolf irony. Paleo yuccie biodiesel messenger bag slow-carb. Waistcoat echo park blog brunch kickstarter XOXO narwhal, letterpress meggings keytar whatever. Brunch cray mixtape banjo, roof party VHS sartorial truffaut semiotics kickstarter intelligentsia beard. YOLO freegan chartreuse trust fund tousled. Tousled man braid ethical, gluten-free hashtag irony ennui health goth taxidermy.</p>
  		</div>
  	</div>
</section>








