<footer class="footer">
	<div class="ui two column centered grid">
	  <div class="four column centered row">
	    <div class="column">
	    	<h5>
	    		Like it? &nbsp; Share it!
	    	</h5>
	    	<span>
	    		<%= link_to "#" do %>
	    			<i class="facebook large icon"></i>
	    		<% end %>
	    		<%= link_to "#" do %>
	    			<i class="twitter large icon"></i>
	    		<% end %>
	    		<%= link_to "#" do %>
	    			<i class="google plus large icon"></i>
	    		<% end %>
	    	</span>
	    </div>
	    <div class="column">
	    	<%= link_to "Contact me", "#", class: "ui login button" %>
	    </div>
	  </div>
	</div>
</footer>