<footer id="footer">
	<div class="container">
		<div class="row vcenter">
			<div class="col-md-6">
				<div class="share">
					<h5>Like it? &nbsp; Share it!</h5>
					<span>
			    		<%= link_to (fa_icon "facebook"), "#" %>
			    		<%= link_to (fa_icon "twitter"), "#" %>
			    	</span>
				</div>
			</div>
			<div class="col-md-6">
				<div class="contact-me">
					<%= link_to "Contact me", "#", class: "btn btn-lg btn-default" %>
				</div>
			</div>
		</div>
	</div>
</footer>



	    	
	    	
	    	

